<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--<app-home *ngIf="selectedFeature==='home'"></app-home>
      <!-- <app-recepy *ngIf="selectedFeature==='recepys'"></app-recepy>

       <app-shopping-list *ngIf="selectedFeature==='order-list'"></app-shopping-list>
       <app-shopping-list *ngIf="selectedFeature==='login'"></app-shopping-list> -->
       <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</body>
</html>