<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div >
                <label for="rname">Name</label>
                <input 
                type="text"
                
                name="rname"
                id="rname"
                ngModel
                 required
                class="form-control">
            </div>
           
            <div >
                <label for="price">price</label>
                <input 
                type="text"
                id="price"
                name="price"
                ngModel
                required
                class="form-control">
            </div>
            <br>
            <br>
            <input class="btn btn-success" type="submit" value="submit">
        </form>
    </div>
</div>
